@model List<Question>
@{
    ViewData["Title"] = "Index";
    string loggedUser;
    if (!(Html.ViewContext.HttpContext.Request.Cookies["Username"] is null))
    {
        loggedUser = Html.ViewContext.HttpContext.Request.Cookies["Username"];
    }
    else
    {
        loggedUser = "";
    }
}

<div class="inline-header">
    <div class="form-container">
        <label for="search">Search</label>
        <form id="search" method="get" action="/DevHub/">
            <input type="text" name="search" />
            <select id="column" name="column">

                <option value="tags">Tags</option>
                <option value="title">Title</option>
                <option value="detail">Question Body</option>
            </select>
            <input type="submit" value="Go" />
        </form>
    </div>
    @if (loggedUser != "")
    {
        <a class="btn btn-dark" asp-action="PostQuestion" asp-controller="DevHub">New Question</a>
    }
</div>

<h3>@ViewData["Message"]</h3>
<div >    
    @foreach (Question q in Model)
    {
        <div class="list-inline">
            <a asp-action="Detail" asp-controller="DevHub" asp-route-id="@q.id">@q.title (@q.username)</a>
        </div>
    }
</div>